spring:
  datasource:
    # Twój link do XAMPP
    url: jdbc:mysql://localhost:3306/ecommerce_db?serverTimezone=UTC&useSSL=false&allowPublicKeyRetrieval=true
    username: root
    password:
    driver-class-name: com.mysql.cj.jdbc.Driver

  # Konfiguracja inicjalizacji SQL
  sql:
    init:
      mode: always

  jpa:
    # TO JEST NAJWAŻNIEJSZE: Musi być dokładnie na tym poziomie wcięcia (pod 'jpa')
    # Opóźnia wykonanie data.sql do momentu, aż Hibernate stworzy tabele
    defer-datasource-initialization: true

    database-platform: org.hibernate.dialect.MySQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  thymeleaf:
    cache: false
    prefix: classpath:/templates/
    suffix: .html

server:
  port: 8080